@import-normalize; /* bring in normalize.css styles */

/* Variables */
:root {
  --font-family-primary: 'Barlow Regular', sans-serif;
  --font-family-secondary: 'Play Regular', sans-serif;
  --font-bold: 'Play Bold', sans-serif;
  --bg-primary: rgba(0, 0, 0, 0.05);
  --bg-primary-white: rgba(255, 255, 255, 1);
  --bg-secondary: #ff6b09;
  --bg-secondary-grey: #ddd;
  --border-color-primary-grey: #aaa;
  --border-color-secondary: #e0e0e0;
  --text-color-primary-black: #000;
  --text-color-secondary-grey: #aaa;
  --text-color-primary-white: rgba(255, 255, 255, 1);
  --text-color-primary-orange: #ff6b09;
  --transition-default: all 0.3s ease-in-out;
  --bg-backdrop: rgba(0, 0, 0, 0.5);
  --bg-secondary-hover: #e24617;
}

/* light theme */
html[data-theme='light'] {
  --bg-primary: rgba(0, 0, 0, 0.05);
  --bg-primary-white: rgba(255, 255, 255, 1);
  --bg-secondary: #ff6b09;
  --bg-secondary-grey: #ddd;
  --border-color-primary-grey: #aaa;
  --border-color-secondary: #e0e0e0;
  --text-color-primary-black: #000;
  --text-color-secondary-grey: #aaa;
  --text-color-primary-white: rgba(255, 255, 255, 1);
  --text-color-primary-orange: #ff6b09;
  --transition-default: all 0.3s ease-in-out;
  --bg-backdrop: rgba(0, 0, 0, 0.5);
  --bg-cart-item: #fff;
  --shadow-item: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

/* dark theme */

html[data-theme='dark'] {
  --bg-primary: black;
  --bg-primary-white: rgba(0, 0, 0, 0.05);
  --bg-secondary: #ff6b09;
  --bg-secondary-grey: #ddd;
  --border-color-primary-grey: darkgrey;
  --border-color-secondary: white;
  --text-color-primary-black: white;
  --text-color-secondary-grey: white;
  --text-color-primary-white: black;
  --text-color-primary-orange: #ff6b09;
  --transition-default: all 0.3s ease-in-out;
  --bg-backdrop: rgba(0, 0, 0, 0.5);
  --bg-cart-item: transparent;
  --shadow-item: inset 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
}

/* Global styles */
@font-face {
  font-family: 'Barlow Black';
  src: url('/assets/fonts/Barlow-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Light';
  src: url('/assets/fonts/Barlow-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Regular';
  src: url('/assets/fonts/Barlow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Medium';
  src: url('/assets/fonts/Barlow-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow SemiBold';
  src: url('/assets/fonts/Barlow-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Bold';
  src: url('/assets/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Light Italic';
  src: url('/assets/fonts/Barlow-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow ExtraLight';
  src: url('/assets/fonts/Barlow-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Play Regular';
  src: url('/assets/fonts/Play-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Play Bold';
  src: url('/assets/fonts/Play-Bold.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Barlow Regular', sans-serif;
  background-color: var(--bg-primary);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--transition-default);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

body.modalIsOpen {
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container {
    /* width: 320px; */
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 834px) {
  .container {
    /* width: 834px; */
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    /* width: 1280px; */
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* burger transitions */

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms;
}

.fade-search-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fade-search-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}

.fade-search-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-search-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 500ms;
}

/* range price filter */

.rc-slider-track {
  background-color: var(--bg-secondary);
  height: 5px;
}

.rc-slider-handle {
  background-color: var(--bg-secondary);
  border: 2px solid var(--bg-secondary-hover);
  height: 18px;
  width: 18px;
  margin-top: -7px;
  /* box-shadow: 0 0 5px var(--bg-secondary); */
}
